.darkmode {
  cursor: pointer;
  padding: 0;
  position: relative;
  background: none;
  border: none;
  width: 20px;
  height: 20px;
  margin: 0;
  text-align: inherit;
  flex-shrink: 0;

  & > .dayIcon,
  & > .nightIcon {
    position: absolute;
    width: 20px;
    height: 20px;
    top: calc(50% - 10px);
    left: calc(50% - 10px);
    color: var(--darkgray);
    transition: opacity 0.1s ease;

    & svg {
      width: 100%;
      height: 100%;
      display: block;
    }
  }
}

:root[saved-theme="dark"] {
  color-scheme: dark;
}

:root[saved-theme="light"] {
  color-scheme: light;
}

:root[saved-theme="dark"] .darkmode {
  & > .dayIcon {
    display: none;
  }
  & > .nightIcon {
    display: inline-flex;
  }
}

:root .darkmode {
  & > .dayIcon {
    display: inline-flex;
  }
  & > .nightIcon {
    display: none;
  }
}
